body{
    font-family: 'Poppins', sans-serif;
    margin-left:30px;
    font-size: 20px ;
}
h1{
    font-size: 40px;
    margin-top: 50px;
}
.tomato{
    color:tomato;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.margin{
    margin-left: 50px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(cyan, blue);
    border-radius: 5px;
    color: white;
    font-weight: 700;